* {
  padding: 0;
  margin: 0;
}
@font-face {
  font-family: "Hand";
  src: url(fonts/Playwrite_CU/PlaywriteCU-VariableFont_wght.ttf);
}
body {
  background: linear-gradient(45deg, #899CA2,transparent);
  background-attachment: fixed;
}
.biografia {
  position: absolute;
  width: 100%;
}
.imagem {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 544px;
  
  background-image: url(../images/socrates_biografia.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 39%;
  & .titulo {
    font-size: 6em;
    font-family: "Hand";
    color: white;
    text-shadow: 5px 5px 30px rgb(0, 0, 0);
  }
}


