*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: linear-gradient(45deg, #D9860C,transparent);
    background-attachment: fixed;
  }
.imagem {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;

    background-image: url(../images/socrates_legado.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 39%;
    & .titulo {
      font-size: 6em;
      font-family: "Hand";
      color: white;
      text-shadow: 5px 5px 30px rgb(0, 0, 0);
    }
  }

  .paragrafo {
    font-family: "Hand";
    font-size: 1.1em;
    max-width: 900px;
    text-align: justify;
    margin: 15px auto;
    color: white;
  }
  .especial {
    margin-top: 80px;
  }