* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "jersey", sans-serif;
}
@font-face {
  font-family: 'Hand';
  src: url(fonts/Playwrite_CU/PlaywriteCU-VariableFont_wght.ttf);
}
.formulario{
  width: 100%;
  height: 100vh;
  background-color: #ccc;
  color: white;
  

  & .forms{
    display: flex;
    flex-direction: column;
    position: absolute;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(45deg, #0000CD, #4169E1);
    width: 380px;
    height: 420px;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease;

    & .campo_resposta{
      display: flex;
      

      & .cadastro, .login{
        position: absolute;
        padding: 50px;
        width: 380px;
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        transition: all 0.5s ease;
        
        
      }
      & .login{
        left: 410px;
      }
      & .cadastro{
        
      }
    }
  }
}
.forms:hover{
  box-shadow: 0 0 300px #4169E1;
}
.cadastro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cadastro label {
  margin-bottom: 10px;
  width: 100%;
}

.cadastro input {
  margin: 5px 0;
  padding: 2px;
  border-radius: 10px;
  width: 100%;
  max-width: 250px;
  border: 1px solid #ccc;
  font-family: 'Hand';
}
::placeholder{
  text-align: center;
}
.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login label {
  margin-bottom: 10px;
  width: 100%;
}

.login input {
  margin: 5px 0;
  padding: 2px;
  border-radius: 10px;
  width: 100%;
  max-width: 250px;
  border: 1px solid #ccc;
  font-family: 'Hand';
}
::placeholder{
  text-align: center;
}


.buttonTransition{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  background-color: transparent;
  
}
.btngroup{
  z-index: 3;
  border-radius: 100px;
  transition: all 0.5s ease;
  
}
/* .btngroup:hover{
  box-shadow: 0 0 10px white;
} */
.buttonColor{
  width: 100px;
  height: 50px;
  position: absolute;
  
  border-bottom: 3px solid white;
  left: 86px;
  z-index: 1;
  transition: all 0.5s ease;
  cursor: pointer;
}

.cadastro_button, .login_button{
  background: none;
  border: none;
  color: white;
  padding: 10px;
  width: 100px;
  position: relative;
  z-index: 3;
  font-family: 'Hand';
  cursor: pointer;
}
.btn_forms{
  background: none;
  border: 2px solid transparent;
  color: white;
  font-family: 'Hand';
  cursor: pointer;
  width: 100%;
  margin-top: 20px;
  transition: all 0.4s ease;
  border-radius: 3px;
}
.btn_forms:hover{
  background-color: #020299;
  border: 2px solid white;
}
.btn_forms:active{
  background-color: #4848db;
}

.mostrarSenha{
  position: absolute;
  width: 24px;
  cursor: pointer;
}
.msC{
  top: 162px;
  left: 287px;
}
.msL{
  top: 134px;
  left: 287px;
}

